/* Input 컴포넌트 스타일 */

.input-group {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 20px;
  margin-bottom: 8px;
}

.input-field {
  padding: 8px 5px;
  font-size: 20px;
  border: 1.5px solid black;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #007bff;
}
