.status-modal-content {
  padding: 1.25rem;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  text-align: center;
  width: auto;
}

.status-modal-header {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.9375rem;
}

.status-modal-select {
  width: 80%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border: 0.0625rem solid #ced4da;
  border-radius: 0.25rem;
  background-color: white;
}

.status-modal-button {
  padding: 0.625rem 1.25rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin-right: 0.625rem;
}

.status-modal-button:hover {
  background-color: #0056b3;
}
