html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤이 생기지 않도록 설정 */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  flex: 1;
  overflow: auto; /* 메인 콘텐츠만 스크롤 가능하도록 설정 */
  padding: 1rem;
  position: relative;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* 섹션 간의 간격 */
}

.form-section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
